.parent {
  height: 50vh;

  /* add solution here */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.child {
  background-color: darkolivegreen;
  color: white;
  padding: 1rem;
}
